h1{
    color: $amarillo;
    background-color: $coral;
    height: (75px)*2;
    font-family: $principal;
    
}
/*if - else */
$nocturno: 1;

@if ($nocturno==1){
    h1{
        color: black;
    }
} @else {
    h1{
        color: $verde-fuerte;
    }
}

/*extend*/
